# Amazon Fine Food Dataset

# Objective :
   * so we are having the cleaned data ,the text column(i.e Text and Summary are also Cleaned)
   * Now we have to convert these text columns into numbers as model dont work with strings.

In [1]:
# Imporing necessary library and modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from tqdm import tqdm
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.manifold import TSNE

In [2]:
#reading only 5,000 rows
df=pd.read_csv(r'D:\study material\ML\Datasets\amazon-fine-food-reviews\Reviews_cleaned.csv',nrows=50000)

In [3]:
df.shape

(42511, 8)

In [4]:
df.head()

,ProductId,UserId,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Clean_Text,clean_summary
0,B001E4KFG0,A3SGXH7AUHU8GW,1,1,1,1303862400,bought several vitality canned dog food produc...,good quality dog food
1,B00813GRG4,A1D87F6ZCVE5NK,0,0,0,1346976000,product arrived labeled jumbo salted peanut pe...,not advertised
2,B000LQOCH0,ABXLMWJIXXAIN,1,1,1,1219017600,confection around century light pillowy citrus...,delight say
3,B000UA0QIQ,A395BORC6FGVXV,3,3,0,1307923200,looking secret ingredient robitussin believe f...,cough medicine
4,B006K2ZZ7K,A1UQRSCLF8GW1T,0,0,1,1350777600,great taffy great price wide assortment yummy ...,great taffy

# Text Processing

 ### 1. Bag of words : 
 * so this is the most common techinique used in text processing where we take all the words and then for each vector give a value 0/1 if it is present.
 * Easy to use technique.

In [5]:
cleaned_data=df['Clean_Text']
countvect=CountVectorizer(ngram_range=(1,2),min_df=10,max_features=10000)
final_vect=countvect.fit_transform(cleaned_data)
final_vect=final_vect.toarray()
da=pd.DataFrame(data=final_vect,columns=countvect.get_feature_names())

In [6]:
da.head()

,ability,able,able buy,able drink,able eat,able enjoy,able find,able get,able make,able order,...,zinc,zing,zip,zip lock,zipfizz,ziploc,ziplock,ziwipeak,zuke,zukes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 2. Tf-Idf 
* So now we use the tfidf technique in which we find term frequency and inverse frequency for each word in corpus.

In [8]:
tfidf_vect = TfidfVectorizer(ngram_range=(1,2), min_df=10,max_features=10000)
final_vect2=tfidf_vect.fit_transform(cleaned_data)
final_vect2=final_vect2.toarray()
da2=pd.DataFrame(data=final_vect2,columns=countvect.get_feature_names())

In [9]:
da2.head()

,ability,able,able buy,able drink,able eat,able enjoy,able find,able get,able make,able order,...,zinc,zing,zip,zip lock,zipfizz,ziploc,ziplock,ziwipeak,zuke,zukes
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Word-2 vec 
* training using my own data.

In [10]:
from gensim.models import Word2Vec
list_of_sent=[]
for i in df['Clean_Text']:
    list_of_sent.append(i.split())

w2v_model=Word2Vec(list_of_sent,min_count=5,size=50, workers=4)

In [11]:
w2v_model.wv.most_similar('tasty')

[('yummy', 0.813718318939209),
 ('satisfying', 0.8096741437911987),
 ('delicious', 0.7774248123168945),
 ('filling', 0.7348397970199585),
 ('surprisingly', 0.6780767440795898),
 ('hearty', 0.6744251847267151),
 ('crisp', 0.6683987379074097),
 ('good', 0.6575183868408203),
 ('crunchy', 0.6559920907020569),
 ('terrific', 0.6499361395835876)]

In [12]:
# applying average word to vec to convert text into vectors
word_vect=[]
for sent in tqdm(list_of_sent):
    temp=np.zeros(50)
    count_words=0
    for word in sent:
        if word in w2v_model.wv:
            temp+=w2v_model.wv[word]
            count_words+=1
    if count_words:
        word_vect.append(temp/count_words)

100%|██████████████████████████████████████████████████████████████████████████| 42511/42511 [00:05<00:00, 7511.34it/s]

In [13]:
word_vect[0:2]
len(word_vect)

42511

In [ ]:
#applying tsne on bow vectors
tsne = TSNE(n_components=2, perplexity=20, learning_rate=100,n_iter=1000)
conv_x=tsne.fit_transform(final_vect)
pt_for_tsne = np.hstack((conv_x, np.array(df['Score']).reshape(-1,1)))
pt_for_tsne_df = pd.DataFrame(data=pt_for_tsne, columns=['x','y','Score'])
colors = {0:'red', 1:'blue'}
plt.scatter(pt_for_tsne_df['x'], pt_for_tsne_df['y'], c=pt_for_tsne_df['Score'].apply(lambda x: colors[x]))
plt.show()

In [ ]:
#applying tsne on tfidf vectors
tsne = TSNE(n_components=2, perplexity=20, learning_rate=200,n_iter=1000)
conv_x=tsne.fit_transform(final_vect2)
pt_for_tsne = np.hstack((conv_x ,np.array(df['Score']).reshape(-1,1)))
pt_for_tsne_df = pd.DataFrame(data=pt_for_tsne, columns=['x','y','Score'])
colors = {0:'red', 1:'blue'}
plt.scatter(pt_for_tsne_df['x'], pt_for_tsne_df['y'], c=pt_for_tsne_df['Score'].apply(lambda x: colors[x]))
plt.show()

In [ ]:
#applying tsne on avg-word2 vec 
from tqdm import tqdm
from sklearn.manifold import TSNE
tsne = TSNE(n_components=2, perplexity=20, learning_rate=200,n_iter=1000)
x_em=tsne.fit_transform(word_vect)
for_tsne = np.hstack((x_em, np.array(df['Score']).reshape(-1,1)))
for_tsne_df = pd.DataFrame(data=for_tsne, columns=['Dimension_x','Dimension_y','Score'])
colors = {0:'red', 1:'blue'}
plt.scatter(for_tsne_df['Dimension_x'], for_tsne_df['Dimension_y'], c=for_tsne_df['Score'].apply(lambda x: colors[x]))
plt.show()

# Conclusions:
* So after seeing this data I could conclude that the data points are clustered together and cannot be easily seprable
* So by seeing the plot one can easily say u cannot easily seperate the positive and negative reviews.
* If you work with whole data set may be it works better.